# Python
__pycache__
*.py[cod]

# Code
.idea

# Build
_build
build.sh

# Lint
.mypy_cache

# Resources
resources/dem

# Documentation
docs/_build

# Translations
*.mo

# Env
.env
