# Python
__pycache__
*.py[cod]

#IDE
.vscode
*.code-workspace

# Unit test
.coverage

# Build
build
build.sh

# ToDo
ToDo

# Logs
logs

# Alembic
migrations

# Pipenv
*.lock

# Glade
*.glade~

# Translations
*.mo

# SQLite databases
*.sqlite
*.db

# Environment files
.env