# Python
__pycache__
*.py[cod]

# Cache
.idea
.mypy_cache
.pytest_cache
.coverage

# Build
_build

# Docs
docs/build

# Tests
tests/test_sqlitehelper.db

# Resources
resources/dem
resources/poi
resources/db
