[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
gpxpy = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
gmalthgtparser = "*"

[dev-packages]
meson = "*"
ninja = "*"
flake8 = "*"
isort = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.10"
