[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
gpxpy = "*"
"srtm.py" = "*"
lxml = "*"

[dev-packages]
meson = "*"
pylint = "*"
ninja = "*"

[requires]
python_version = "3.10"
