.column_view_button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.marker_image {
    color: #000000;
}

.marker_refuge {
    color: #000000;
}

.marker_hut {
    color: #000000;
}

.marker_water {
    color: #5293d3;
}
